<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card d-flex justify-content-center content">
            <div class="card-body p-4">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip>One fish</mat-chip>
                    <mat-chip>Two fish</mat-chip>
                  </mat-chip-list>
                  
                  <button mat-button>Basic</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  