$mainBlueColor: #161F7B;
$white: #d8d6d6;
.sidebar-container .mainbackground {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:  $mainBlueColor;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    mat-divider {
      background-color: white;
    }

    li {
      list-style: none;
      border-radius: 0.375rem;
      padding: 0 10px;
      &:hover {
        background-color: $white;
      }

      a:hover  {
        color: #5c5c5c;
      }


      a {
        color: $white;
        text-decoration: none;
        display: flex;
        width: 100%;

        .logo {
          width: 47px;
          height: 47px;
          line-height: 60px;
          border-radius: 5px;
          position: relative;
          top: 9px;
          right: 4px;
        }

        mat-icon {
          min-width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 1.75em;
        }

        .title {
          position: relative;
          display: block;
          font-size: 1.2em;
          line-height: 60px;
          text-align: start;
          font-weight: 500;
        }
      }
      &:nth-child(1) {
        margin-bottom: 40px;
        font-size: 20px;
      }
    }
  }

  mat-sidenav {
    width: 290px;
    background-color: $mainBlueColor;
  }
  .user {
    margin: 20px auto 0;
    position: relative;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    img {

      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      z-index: 5;
      border-radius: 50%;
      box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
        0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    }
    
  }
}
.sidebarContact{
  
  background-color: $mainBlueColor;
  width: 20%;
  height: 100%;
}



